#footer-content{
    width: 100%;
    text-align: center;
    padding: 2rem !important;
}
#footer-content a {
    transition: 0.5s;
}
#footer-content a:hover{
    color: #868686;
}

.social-midias-modal{
    width: 65%;
    margin-bottom: -1em;
}
.social-midias-modal a {
    transition: 0.5s;
}

.social-midias-modal a:hover{
    transform: scale(1.2);
}

.social-midias-modal a i{
    font-size: 1.3em !important;
}



