.ola{
    margin-bottom:  -0.5em !important;
}
.suadacao{
    margin-bottom: 0.3em !important;
}

.divider {
    width: 110%;
}

.wave-1{
    animation: moveWave1 3s  ease-in-out infinite alternate;
}


@keyframes moveWave1{
    from {
        transform: translateX(-100px);
    }
}

.wave-2{
    animation: moveWave2 3s ease-in-out infinite alternate;
}

@keyframes moveWave2{
    from {
        transform: translateX(-220px);
    }
}

.wave-3{
    animation: moveWave3 5s ease-in-out infinite alternate;
}

@keyframes moveWave3{
    from {
        transform: translateX(-300px);
    }
}

/** SOBRE **/

.sobre-section{
    width: 100%;
    background-color: #273036;
    margin-top: -15px;
    padding-bottom: 20rem;
}

.skills{
    margin-top: -13rem;
}

.card {
    border-radius: 25px !important;
}




